In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel("store.xlsx")

In [4]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [6]:
data.isna().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
data['Postal Code'] =  data['Postal Code'].replace(np.nan , 0)

In [8]:
pd.options.display.max_rows = 147
data['Country'].value_counts()

United States                       9994
Australia                           2837
France                              2827
Mexico                              2644
Germany                             2065
China                               1880
United Kingdom                      1633
Brazil                              1599
India                               1555
Indonesia                           1390
Turkey                              1378
Italy                               1108
Nigeria                              905
Spain                                859
Dominican Republic                   742
El Salvador                          736
Cuba                                 724
Honduras                             713
Philippines                          681
New Zealand                          628
Nicaragua                            614
Iran                                 607
Guatemala                            521
Egypt                                487
South Africa                         461
Morocco                              451
Netherlands                          435
Argentina                            390
Panama                               388
Iraq                                 388
Canada                               384
Russia                               384
Ukraine                              381
Democratic Republic of the Congo     379
Saudi Arabia                         361
Colombia                             360
Austria                              331
Thailand                             295
Vietnam                              265
Poland                               252
Japan                                250
Pakistan                             249
Sweden                               203
Algeria                              196
Venezuela                            194
Malaysia                             176
Romania                              173
South Korea                          172
Bangladesh                           163
Peru                                 162
Tanzania                             148
Belgium                              147
Chile                                143
Singapore                            141
Myanmar (Burma)                      136
Angola                               122
Senegal                              112
Cameroon                             110
Cote d'Ivoire                        109
Ireland                              106
Haiti                                104
Israel                               103
Ghana                                102
Zambia                               102
Kazakhstan                           101
Kenya                                 98
Mozambique                            94
Sudan                                 92
Belarus                               80
Zimbabwe                              80
Switzerland                           78
Bulgaria                              75
Czech Republic                        71
Portugal                              70
Norway                                70
Hungary                               66
Denmark                               65
Finland                               64
Ecuador                               56
Madagascar                            56
Afghanistan                           55
Somalia                               52
Lithuania                             50
Uzbekistan                            48
Bolivia                               48
Cambodia                              45
Togo                                  44
Mali                                  43
Niger                                 43
Jordan                                42
Kyrgyzstan                            40
Libya                                 39
Moldova                               39
Uganda                                37
Mongolia                              37
Rwanda                                36
Benin                                 35
Georgia                               33
Croatia                               32
Jamaica                               31
Yemen                                 30
Trinidad and Tobago                   30
Azerbaijan                            29
Syria                                 29
Barbados                              26
Martinique                            25
Turkmenistan                          25
Uruguay                               24
Papua New Guinea                      22
Hong Kong                             21
Nepal                                 19
Guinea                                18
Bosnia and Herzegovina                17
Albania                               16
Qatar                                 16
Liberia                               15
Sierra Leone                          15
United Arab Emirates                  14
Taiwan                                14
Gabon                                 14
Estonia                               13
Tunisia                               13
Djibouti                              12
Lebanon                               12
Paraguay                              12
Mauritania                            10
Namibia                                9
Guinea-Bissau                          9
Guadeloupe                             8
Slovakia                               8
Ethiopia                               7
Sri Lanka                              7
Central African Republic               7
Lesotho                                6
Republic of the Congo                  6
Montenegro                             4
Macedonia                              4
Slovenia                               3
Tajikistan                             3
Equatorial Guinea                      3
Armenia                                3
Swaziland                              2
Bahrain                                2
South Sudan                            2
Chad                                   2
Burundi                                2
Eritrea                                2
Name: Country, dtype: int64

In [9]:
data_selected =  data[data['Country'].isin(['United States' , 'Australia' , 'France' , 'Mexico' , 'Germany' , 'China' , 'United Kingdom' , 'Brazil' , 'India' , 'Indonesia' ])]

In [10]:
data_selected.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
5,22732,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical

In [11]:
data_selected.sort_values(by = 'Country' , inplace=True)

C:\Users\User\AppData\Roaming\Python\Python310\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [13]:
returns =  pd.read_excel('store.xlsx' , sheet_name= 'returns')

In [14]:
data_selected =  data_selected.merge(returns , how='inner' , on = 'Order ID')

In [15]:
data_selected =  data_selected[data_selected['Returned'] == 'Yes']

In [16]:
data_selected

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Returned,Market_y
0,28215,IN-2011-31020,2011-06-24,2011-06-29,Second Class,TB-21520,Tracy Blumstein,Consumer,Geelong,Victoria,...,Machines,"StarTech Card Printer, White",728.595,5,0.1,234.6450,86.38,Medium,Yes,APAC
1,28220,IN-2011-31020,2011-06-24,2011-06-29,Second Class,TB-21520,Tracy Blumstein,Consumer,Geelong,Victoria,...,Supplies,"Acme Trimmer, Easy Grip",166.320,4,0.1,-7.4400,22.78,Medium,Yes,APAC
2,28219,IN-2011-31020,2011-06-24,2011-06-29,Second Class,TB-21520,Tracy Blumstein,Consumer,Geelong,Victoria,...,Furnishings,"Deflect-O Light Bulb, Black",85.455,5,0.1,10.3050,7.11,Medium,Yes,APAC
3,28216,IN-2011-31020,2011-06-24,2011-06-29,Second Class,TB-21520,Tracy Blumstein,Consumer,Geelong,Victoria,...,Chairs,"SAFCO Steel Folding Chair, Red",154.278,2,0.1,17.1180,14.39,Medium,Yes,APAC
4,28218,IN-2011-31020,2011-06-24,2011-06-29,Second Class,TB-21520,Tracy Blumstein,Consumer,Geelong,Victoria,...,Accessories,"SanDisk Numeric Keypad, USB",95.688,2,0.1,20.1480,8.22,Medium,Yes,APAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,32096,CA-2012-101910,2012-11-27,2012-12-03,Standard Class,CD-11920,Carlos Daly,Consumer,Lake Elsinore,California,...,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.920,5,0.2,17.7450,34.56,Low,Yes,United States
2333,35806,CA-2014-167003,2014-05-24,2014-05-30,Standard Class,VS-21820,Vivek Sundaresam,Consumer,Los Angeles,California,...,Tables,"Lesro Sheffield Collection Coffee Table, End T...",171.288,3,0.2,-6.4233,3.31,Medium,Yes,United States
2334,39915,CA-2014-117513,2014-03-04,2014-03-09,Standard Class,BT-11395,Bill Tyler,Corporate,Los Angeles,California,...,Tables,"Lesro Sheffield Collection Coffee Table, End T...",399.672,7,0.2,-14.9877,31.31,Medium,Yes,United States
2335,40548,CA-2014-155712,2014-03-03,2014-03-09,Standard Class,KD-16615,Ken Dana,Corporate,Los Angeles,California,...,Binders,Catalog Binders with Expanding Posts,107.648,2,0.2,33.6400,3.67,Medium,Yes,United States
2336,39990,CA-2013-118311,2013-10-25,2013-10-29,Standard Class,ED-13885,Emily Ducich,Home Office,San Francisco,California,...,Accessories,NETGEAR N750 Dual Band Wi-Fi Gigabit Router,450.000,5,0.0,162.0000,30.43,Medium,Yes,United States

In [17]:
data_selected['Year'] = data_selected['Ship Date'].astype(str).str[:4]

In [18]:
sales =  data_selected.groupby(by = ['Year' ,'Country' ] ).sum().sort_values('Year').reset_index()

In [19]:
sales = sales.drop(columns=['Row ID' , 'Postal Code' ])

In [20]:
sales.to_excel('New0 Sales.xlsx')